<table class="profile" summary="Profile Information">
	<tr>
		<td class="Main">
			<h1>
			<%= gravatar_for @user%>
			<%= @user.name %>
			</h1>    <%= render 'follower_form' if signed_in? %>
      
                  <%if @user.thoughts.any? %>
                    <table class="thoughts" summary="User thoughts"
                           <%= render @thoughts  %>
                    </table>
                  <%=  will_paginate @thoughts %>
                  <%  end %>
		</td>
		
		<td class="sidebar round">
			<strong>Name</strong> <%= @user.name %><br />
			<strong>URL</strong> <%= link_to user_path(@user),(@user)%><br />

                        <strong>Thoughts</strong> <%= @user.thoughts.count %> <br />
          		<% if signed_in? && current_user != @user %>
			<%= link_to 'Send', new_message_path({:recipient_id=>@user.id}) %> <%= @user.name %> a message
			<br/>
              <% end %>
          <%= render 'shared/stats' %>


                </td>
	</tr>
	
</table>
