<table class="profile" summary="Profile Information">
	<tr>
		<td class="Main">
			<h1>
			<%= gravatar_for @user%>
			<%= @user.name %>
			</h1>
      
                  <%if @user.thoughts.any? %>
                    <table class="thoughts" summary="User thoughts"
                           <%= render @thoughts  %>
                    </table>
                  <%=  will_paginate @thoughts %>
                  <%  end %>
		</td>
		
		<td class="sidebar round">
			<strong>Name</strong> <%= @user.name %><br />
			<strong>URL</strong> <%= link_to user_path(@user),(@user)%><br />
                        <strong>Thoughts</strong> <%= @user.thoughts.count %>
          <%= link_to "Add as a friend", friendships_path(:friend_id => @user), :method => :post %>
          <h2>Your Friends</h2>
            <ul>
              <% for user in @user.friends %>
              <li><%=h user.name %></li>
              <% end %>
            </ul>
          <h2>Your Friends</h2>
<ul>
  <% for friendship in @user.friendships %>
  <li>
    <%= h friendship.friend.name %>
    (<%= link_to "remove", friendship, :method => :delete %>)
  </li>
  <% end %>
</ul>

          <h2>Users Who Have Befriended You</h2>
<ul>
  <% for user in @user.inverse_friends %>
  <li><%= h user.name %></li>
  <% end %>
</ul>

                </td>
	</tr>
	
</table>
